<ion-header>
  <app-header
    [title]="'Подать объявление'"
    [showBackButton]="true"
  ></app-header>
</ion-header>

<ion-content>
  <div class="filter-modal">
    <div class="price-filter">
      <app-custom-input
        [type]="'number'"
        [label]="'Цена'"
        [icon]="'currency'"
      ></app-custom-input>

      <hr class="horizontal-divider v-margin-12">
    </div>

    <div class="rooms-filter">
      <div class="title margin-12">Количество комнат</div>

      <div class="rooms-filter-content">
        <div
          *ngFor="let room of roomsQuantity"
          (click)="selectedRoomQuantity = room"
          class="room-filter"
          [class.custom-button-white-selected]="selectedRoomQuantity === room"
        >
          {{room}}
        </div >
      </div>

      <hr class="horizontal-divider v-margin-12">
    </div>

    <div>
      <app-filter-item
        [title]="'Город'"
      ></app-filter-item>
      <hr class="horizontal-divider v-margin-12">
    </div>

    <div>
      <app-filter-item
        [title]="'Пол'"
      ></app-filter-item>
      <hr class="horizontal-divider v-margin-12">
    </div>

    <div>
      <app-filter-item
        [title]="'Заселение возможно'"
      ></app-filter-item>
      <hr class="horizontal-divider v-margin-12">
    </div>

    <div>
      <app-filter-item
        [title]="'Условия проживания'"
      ></app-filter-item>
      <hr class="horizontal-divider v-margin-12">
    </div>

    <div>
      <app-custom-checkbox
        [title]="'Первый этаж'"
      ></app-custom-checkbox>
      <hr class="horizontal-divider v-margin-12">
    </div>

    <div>
      <app-custom-checkbox
        [title]="'Последний этаж'"
      ></app-custom-checkbox>
      <hr class="horizontal-divider v-margin-12">
    </div>

    <div>
      <app-filter-item
        [title]="'Параметры жилья'"
      ></app-filter-item>
      <hr class="horizontal-divider v-margin-12">
    </div>

    <div class="floor-filter">
      <app-custom-input
        [type]="'number'"
        [label]="'Количество этажей'"
      ></app-custom-input>

      <hr class="horizontal-divider v-margin-12">
    </div>

    <div class="square-filter">
      <app-custom-input
        [type]="'number'"
        [label]="'Площадь'"
      ></app-custom-input>

      <hr class="horizontal-divider v-margin-12">
    </div>

    <div class="ceil-filter">
      <app-custom-input
        [type]="'number'"
        [label]="'Выстота потолков'"
      ></app-custom-input>
    </div>
  </div>

  <div class="modal-button">
    <hr class="horizontal-divider">

    <button
      class="custom-button-primary"
      (click)="onClickSave()"
    >Сохранить</button>
  </div>
</ion-content>
