<ion-header>
  <app-header
    [title]="'Подать объявление'"
    [showBackButtonDefault]="true"
  ></app-header>
</ion-header>

<ion-content>
  <div class="filter-modal">
    <div class="price-filter">

      <div class="flex-row-16">
        <app-custom-input
          [type]="'number'"
          [label]="'Цена'"
          [(value)]="adStore.price"
          [icon]="'currency'"
          [asterisks]="true"
        ></app-custom-input>

        <app-custom-input
          [type]="'number'"
          [label]="'Ком. услуги'"
          [(value)]="adStore.price_com"
          [icon]="'currency'"
        ></app-custom-input>
      </div>

      <div class="price-pledge">
        <app-custom-input
          [type]="'number'"
          [label]="'Залог'"
          [(value)]="adStore.price_pledge"
          [icon]="'percent'"
          [minValue]="0"
          [maxValue]="100"
        ></app-custom-input>
      </div>

      <hr class="horizontal-divider v-margin-12">
    </div>

    <div>
      <app-custom-input
        [type]="'number'"
        [label]="'Количество комнат'"
        [(value)]="adStore.rooms_count"
        [asterisks]="true"
      ></app-custom-input>
      <hr class="horizontal-divider v-margin-12">
    </div>

    <div>
      <app-custom-input
        [type]="'number'"
        [label]="'Количесвто сожителей в квартире'"
        [(value)]="adStore.roommate_count"
        [asterisks]="true"
      ></app-custom-input>
      <hr class="horizontal-divider v-margin-12">
    </div>

    <div class="floor-filter">
      <div class="title margin-12">Количество этажей</div>

      <div class="flex-row-16">
        <app-custom-input
          [type]="'number'"
          [label]="'Этаж'"
          [(value)]="adStore.floor"
        ></app-custom-input>

        <app-custom-input
          [type]="'number'"
          [label]="'Мах количество'"
          [(value)]="adStore.floor_from"
        ></app-custom-input>
      </div>

      <hr class="horizontal-divider v-margin-12">
    </div>

    <div class="square-filter">
      <div class="title margin-12">Площадь, м²</div>

      <div class="flex-row-16">
        <app-custom-input
          [type]="'number'"
          [label]="'Общая'"
          [(value)]="adStore.square_general"
          [asterisks]="true"
        ></app-custom-input>

        <app-custom-input
          [type]="'number'"
          [label]="'Жилая'"
          [(value)]="adStore.square_living"
        ></app-custom-input>

        <app-custom-input
          [type]="'number'"
          [label]="'Кухня'"
          [(value)]="adStore.square_kitchen"
        ></app-custom-input>
      </div>

      <hr class="horizontal-divider v-margin-12">
    </div>

    <div>
      <app-filter-item
        [title]="'Состояние квартиры'"
        [selectedItems]="selectedApartmentConditions"
        (click)="onClick('Состояние квартиры', type.APARTMENT_CONDITIONS)"
      ></app-filter-item>
      <hr class="horizontal-divider v-margin-12">
    </div>

    <div>
      <app-filter-item
        [title]="'Город'"
        [selectedItems]="selectedCity"
        (click)="onClick('Город', type.CITY)"
        [asterisks]="true"
      ></app-filter-item>
      <hr class="horizontal-divider v-margin-12">
    </div>

    <div>
      <app-custom-input
        [type]="'text'"
        [label]="'Расположение'"
        [readonly]="true"
        [error]="mapError"
        [(value)]="mapValue"
      ></app-custom-input>
    </div>

    <div id="map" style="width: 100%; height: 200px; margin-top: 20px"></div>
    <hr class="horizontal-divider v-margin-12">

    <div>
      <app-filter-item
        [title]="'В квартире'"
        [selectedItems]="selectedGenderType"
        (click)="onClick('В квартире', type.GENDER_TYPE)"
      ></app-filter-item>
      <hr class="horizontal-divider v-margin-12">
    </div>

    <div>
      <app-filter-item
        [title]="'Квартира меблирована'"
        [selectedItems]="selectedApartmentFurnitureStatuses"
        (click)="onClick('Квартира меблирована', type.APARTMENT_FURNITURE_STATUSES)"
      ></app-filter-item>
      <hr class="horizontal-divider v-margin-12">
    </div>

    <div>
      <app-filter-item
        [title]="'Мебель в квартире'"
        [selectedItems]="selectedApartmentFurniture"
        (click)="onClick('Мебель в квартире', type.APARTMENT_FURNITURE, true)"
      ></app-filter-item>
      <hr class="horizontal-divider v-margin-12">
    </div>

    <div>
      <app-filter-item
        [title]="'Удобства в апартаментах'"
        [selectedItems]="selectedApartmentFacilities"
        (click)="onClick('Удобства в апартаментах', type.APARTMENT_FACILITIES, true)"
      ></app-filter-item>
      <hr class="horizontal-divider v-margin-12">
    </div>

    <div>
      <app-filter-item
        [title]="'Санузел'"
        [selectedItems]="selectedApartmentBathroomTypes"
        (click)="onClick('Санузел', type.APARTMENT_BATHROOM_TYPES, true)"
      ></app-filter-item>
      <hr class="horizontal-divider v-margin-12">
    </div>

    <div>
      <app-custom-input
        [type]="'number'"
        [label]="'Количество санузлов'"
        [(value)]="adStore.bathroom_count"
      ></app-custom-input>
      <hr class="horizontal-divider v-margin-12">
    </div>

    <div>
      <app-filter-item
        [title]="'Ванная комната'"
        [selectedItems]="selectedApartmentBathrooms"
        (click)="onClick('Ванная комната', type.APARTMENT_BATHROOMS, true)"
      ></app-filter-item>
      <hr class="horizontal-divider v-margin-12">
    </div>

    <div>
      <app-filter-item
        [title]="'Безопасность'"
        [selectedItems]="selectedApartmentSecurities"
        (click)="onClick('Безопасность', type.APARTMENT_SECURITIES, true)"
      ></app-filter-item>
      <hr class="horizontal-divider v-margin-12">
    </div>

    <div>
      <app-custom-input
        [type]="'number'"
        [label]="'Балкон'"
        [(value)]="adStore.bathroom_count"
      ></app-custom-input>
      <hr class="horizontal-divider v-margin-12">
    </div>

    <div>
      <app-custom-input
        [type]="'number'"
        [label]="'Лоджия'"
        [(value)]="adStore.loggias_count"
      ></app-custom-input>
      <hr class="horizontal-divider v-margin-12">
    </div>

    <div>
      <app-filter-item
        [title]="'Окна'"
        [selectedItems]="selectedWindowDirections"
        (click)="onClick('Окна', type.WINDOW_DIRECTIONS, true)"
      ></app-filter-item>
      <hr class="horizontal-divider v-margin-12">
    </div>

    <div>
      <app-filter-item
        [title]="'Кому подойдет квартира'"
        [selectedItems]="selectedApartmentFor"
        (click)="onClick('Кому подойдет квартира', type.APARTMENT_FOR, true)"
      ></app-filter-item>
      <hr class="horizontal-divider v-margin-12">
    </div>

    <div>
      <app-custom-input
        [type]="'textarea'"
        [label]="'Текст объявления'"
        [(value)]="adStore.description"
        [asterisks]="true"
      ></app-custom-input>
      <hr class="horizontal-divider v-margin-12">
    </div>

    <div
      *ngIf="user"
      class="filter"
    >
      <div class="title margin-12">Контактная информация</div>

      <div class="contact-info">
        <app-custom-input
          [type]="'text'"
          [label]="'Имя'"
          [(value)]="user.name"
          [asterisks]="true"
          [readonly]="true"
        ></app-custom-input>

        <app-custom-input
          [type]="'tel'"
          [label]="'Телефон'"
          [(value)]="user.phone_number"
          [readonly]="true"
        ></app-custom-input>

        <app-custom-input
          [type]="'text'"
          [label]="'Эл. почта'"
          [(value)]="user.email"
          [readonly]="true"
        ></app-custom-input>
      </div>
    </div>
  </div>

  <div class="modal-button">
    <hr class="horizontal-divider">

    <button
      class="custom-button-primary"
      (click)="onClickSave()"
    >Сохранить
    </button>
  </div>
</ion-content>
