<ion-header>
  <app-header
    [title]="room?.contact_name"
    [showBackButtonDefault]="true"
  ></app-header>
</ion-header>

<ion-content>
  <div class="ad-detail">
    <div class="ad-detail-img-container ad-detail-img">
      <app-image-swiper-item
        *ngIf="room?.media?.length"
        [imageUrls]="room?.media"
      ></app-image-swiper-item>

      <img *ngIf="!room?.media?.length" src="assets/images/no-image.jpg" alt="guide-img">
    </div>

    <div class="ad-detail-content">
      <div class="flex-space-between">
        <div class="content-title">Ищу сожителя</div>
        <div class="price-container">
          <div class="price">{{room?.price | priceCurrency}}</div>
          <div class="content-info">Ком. услуги {{room?.price_com | priceCurrency}}</div>
          <div class="content-info">Залог {{room?.price_pledge}}%</div>
        </div>
      </div>

      <div>
        <div class="content-title">Расположение</div>
        <div class="content-info">{{room?.location}}</div> <!-- todo -->
        <div id="map" style="width: 100%; height: 200px; margin-top: 20px"></div>
      </div>

      <div>
        <div class="content-title">Параметры жилья</div>
        <div class="content-info">Этаж {{room?.floor}}</div> <!-- todo -->
        <div class="content-info">Площадь, {{room?.square_general}} м2</div> <!-- todo -->
        <div class="content-info">Высота потолков, 2.2 м</div> <!-- todo -->

        <hr class="horizontal-divider v-margin-12"/>

        <div class="flex-direction-row-10">
          <div *ngFor="let chip of utilChips" class="custom-chip">
            {{chip}}
          </div>
        </div>
      </div>

      <div>
        <div class="content-title">Условия проживания</div>
        <div class="flex-direction-row-10">
          <div *ngFor="let chip of chips2" class="custom-chip">
            {{chip}}
          </div>
        </div>
      </div>

      <div>
        <div class="content-title">Дополнительное информация</div>
        <div class="content-info">Пол, {{gender?.title}}</div>
        <div class="content-info">Заселение возможно, 24.02.2023</div>
      </div>

      <ng-container *ngTemplateOutlet="authorTemplate"></ng-container>

      <div>
        <div class="content-title">Описание</div>
        <div class="content-info">{{room?.description}}</div>
      </div>
    </div>

    <div class="ad-others">
      <div class="others-title h-margin-12">Другие объявление</div>

      <app-room-grid
        [rooms]="rooms"
      ></app-room-grid>
    </div>
  </div>

</ion-content>

<ng-template #authorTemplate>
  <div class="author">
    <div class="flex-space-between">
      <div>
        <div class="author-title">Автор объявление</div>
        <div class="author-name">{{author?.name}}</div>
      </div>

      <div class="author-profile">
        <img
          *ngIf="author?.profile_photo_url"
          [src]="author?.profile_photo_url">

        <img
          *ngIf="!author?.profile_photo_url"
          src="assets/icon/profile.svg"
          class="author-profile-ic"
          alt="profile-white">
      </div>
    </div>

    <div>
      <div
        class="phone-number"
        (click)="onClickPhone()"
      >{{author?.phone_number | mask : '+0 (000) 000 00 00'}}</div>
      <div class="content-info">{{author?.email}}</div>
    </div>
  </div>
</ng-template>
