<ion-header>
  <app-header
    [title]="room?.contact_name"
    [showBackButtonDefault]="true"
  ></app-header>
</ion-header>

<ion-content>
  <div *ngIf="room; else noDate" class="ad-detail">
    <div class="ad-detail-img-container ad-detail-img">
      <app-image-swiper-item
        *ngIf="room.media?.length"
        [imageUrls]="room.media"
      ></app-image-swiper-item>

      <img *ngIf="!room.media?.length" src="assets/images/no-image.jpg" alt="guide-img">
    </div>

    <div class="ad-detail-content">
      <div class="flex-space-between">
        <div class="content-title">Ищу сожителя</div>
        <div class="price-container">
          <div class="price">{{room.price | priceCurrency}}</div>
          <div
            *ngIf="room.price_com"
            class="content-info"
          >Ком. услуги {{room.price_com | priceCurrency}}</div>
          <div
            *ngIf="room.price_pledge"
            class="content-info"
          >Залог {{room.price_pledge}}%
          </div>
        </div>
      </div>

      <div>
        <div class="content-title">Расположение</div>
        <div class="content-info">{{room.location}}</div> <!-- todo -->
        <div id="map" style="width: 100%; height: 200px; margin-top: 20px"></div>
      </div>

      <div>
        <div class="content-title">Параметры жилья</div>
        <div
          *ngIf="room.floor || room.floor_from"
          class="content-info"
        >
          Этаж: {{room.floor ?? '-'}}{{room.floor_from ? (' из ' + room.floor_from) : ''}}
        </div>
        <div
          *ngIf="room.rooms_count"
          class="content-info"
        >
          Количество комнат: {{room.rooms_count}}
        </div>
        <div
          *ngIf="room.roommate_count"
          class="content-info"
        >
          Количесвто сожителей в квартире: {{room.roommate_count}}
        </div>

        <hr class="horizontal-divider v-margin-12"/>

        <div
          *ngIf="room.square_general"
          class="content-info"
        >Площадь общая: {{room.square_general}} м²
        </div>
        <div
          *ngIf="room.square_kitchen"
          class="content-info"
        >Площадь кухни: {{room.square_kitchen}} м²
        </div>
        <div
          *ngIf="room.square_living"
          class="content-info"
        >Площадь гостиной: {{room.square_living}} м²
        </div>
      </div>

      <div
        *ngIf="room.apartment_condition"
      >
        <div class="content-title">Условия проживания</div>
        <div
          class="content-info"
        >Состояние квартиры: {{room.apartment_condition.title}}
        </div>
      </div>

      <div>
        <div class="content-title">Дополнительное информация</div>
        <div
          *ngIf="room.balconies_count"
          class="content-info"
        >
          Количество балконов: {{room.balconies_count}}
        </div>
        <div
          *ngIf="room.loggias_count"
          class="content-info"
        >
          Количество лоджии: {{room.loggias_count}}
        </div>
        <div
          *ngIf="room.bathrooms_count"
          class="content-info"
        >
          Количество санузлов: {{room.bathrooms_count}}
        </div>
      </div>

      <ng-container *ngTemplateOutlet="authorTemplate"></ng-container>

      <div>
        <div class="content-title">Описание</div>
        <div class="content-info">{{room?.description}}</div>
      </div>
    </div>

    <div class="ad-others">
      <div class="others-title h-margin-12">Другие объявление</div>

      <app-room-grid
        [rooms]="rooms"
      ></app-room-grid>
    </div>
  </div>

</ion-content>

<ng-template #authorTemplate>
  <div class="author">
    <div class="flex-space-between">
      <div>
        <div class="author-title">Автор объявление</div>
        <div class="author-name">{{author?.name}}</div>
      </div>

      <div class="author-profile">
        <img
          *ngIf="author?.profile_photo_url"
          [src]="author?.profile_photo_url">

        <img
          *ngIf="!author?.profile_photo_url"
          src="assets/icon/profile.svg"
          class="author-profile-ic"
          alt="profile-white">
      </div>
    </div>

    <div>
      <div
        class="phone-number"
        (click)="onClickPhone()"
      >{{author?.phone_number | mask : '+0 (000) 000 00 00'}}</div>
      <div class="content-info">{{author?.email}}</div>
    </div>
  </div>
</ng-template>

<ng-template #noDate>
  Нет данных
</ng-template>
