<ion-header>
  <app-header
    [title]="'Roommate'"
  ></app-header>
</ion-header>

<ion-content>
  <div class="home">
    <div class="categories h-margin-12">
      <ng-container *ngFor="let category of categories">
        <button
          [ngClass]="{'custom-button-white': true}"
          (click)="onClickCategory(category)"
        >
          {{category.title}}
        </button>
      </ng-container>
    </div>

    <app-room-grid
      [ads]="ads"
    ></app-room-grid>
  </div>

</ion-content>
