<div class="ads">

  <ng-container *ngFor="let room of _rooms">

    <div class="ad" (click)="onClickRoom(room)">
      <div class="ad-head">
        <div class="ad-price">{{room.price | priceCurrency}}</div>
        <img [src]="room.user_liked ? 'assets/icon/heart-filled.svg' : 'assets/icon/heart.svg'"
             [alt]="room.user_liked ? 'heart-filled' : 'heart'"
             (click)="$event.stopPropagation(); onClickLike(room)"
        >
      </div>

      <div class="ad-bottom">
        <img [src]="room?.media?.length ? room.media[0] : 'assets/images/no-image.jpg'" alt="ad-holder">

        <div class="ad-content">
          <div class="ad-info">
            <div class="title">{{room.contact_name}}</div>
            <div class="ad-description custom-ellipses-2">{{room.description}}</div>
          </div>

          <div class="ad-additional-info">
            <div>{{room.created_at | date : 'd MMMM'}}</div>
            <div class="icon-20">
              <img src="assets/icon/eye.svg">
              {{room.views}}
            </div>
          </div>
        </div>
      </div>
    </div>

  </ng-container>

</div>
