<div class="header-container">
  <div class="header-left">
    <img
      *ngIf="showBackButton"
      src="../../../assets/icon/arrow_left_black.svg"
      alt="arrow-left-icon"
      (click)="goBack()"
    >

    <img
      *ngIf="showCloseButton"
      src="../../../assets/icon/close.svg"
      alt="close-icon"
      (click)="onClickClose()"
    >

    <div class="title custom-ellipses-1">{{title}}</div>
  </div>

  <div class="header-right">
    <div
      *ngIf="showFiltersButton"
      class="filters"
      (click)="onClickFilter()"
    >
      <div>Фильтры</div>

      <img
        src="../../../assets/icon/filter.svg"
        alt="filter-icon"
      >
    </div>

    <div
      *ngIf="showResetButton"
      class="reset"
    >
      Сбросить
    </div>

    <img
      *ngIf="showSettingButton"
      src="../../../assets/icon/setting.svg"
      alt="setting-icon"
      (click)="onClickSetting()"
    >
  </div>
</div>
