.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 56px;
  height: 56px;
  background: var(--custom-background-color-white);
  border-bottom: 1px solid var(--custom-border-color);
}

.header-left {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  font-size: var(--custom-font-size-4);
  font-weight: var(--custom-font-weight-medium);
  color: var(--custom-b-text-color-primary);

}

.title {
  color: var(--custom-text-color-primary);
  font-style: var(--custom-font-style-normal);
  font-weight: var(--custom-font-weight-medium);
  font-size: var(--custom-font-size-3);
}

.roommate-icon {
  color: red;
}

.filters {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}
