.ad-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ad-detail-img {
  position: relative;
  width: 100%;
  height: 250px;

  img {
    background-size: contain;
    width: 100%;
    height: 100%;
  }

}

.ad-detail-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px 16px;
  background: var(--custom-background-color-white);
}

.others-title {
  font-size: var(--custom-font-size-4);
  font-weight: var(--custom-font-weight-medium);
  padding-bottom: 12px;
}

.title {
  font-size: var(--custom-font-size-4);
  font-weight: var(--custom-font-weight-medium);
}

.content-title {
  font-size: var(--custom-font-size-4);
  font-weight: var(--custom-font-weight-medium);
  padding-bottom: 8px;
}

.content-info {
  font-size: var(--custom-font-size-6);
  font-weight: var(--custom-font-weight-regular);
  line-height: var(--custom-line-height-2);
}

.price-container {
  display: flex;
  flex-direction: column;

  .price {
    font-size: 20px;
    font-weight: var(--custom-font-weight-medium);
  }
}

.author {
  padding: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.02);
  border: 1px solid var(--custom-border-color);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.author-title {
  font-size: var(--custom-font-size-5);
  color: #828D9E;
}

.author-name {
  font-size: var(--custom-font-size-5);
  font-weight: var(--custom-font-weight-medium);
}

.author-profile-ic {
  width: 64px;
  height: 64px;
  border: 1px solid #828D9E;
  border-radius: 8px;
  padding: 8px;
}

.ad-others {
  margin-bottom: 32px;
}

.author-profile img {
  object-fit: contain;
  width: 64px;
  height: 64px;
}

.phone-number {
  font-size: var(--custom-font-size-4);
  font-weight: var(--custom-font-weight-medium);
  text-decoration: underline;
  color: var(--custom-text-color-quaternary);
}

.margin-top {
  margin-top: 20px;
}
