<ion-header>
  <app-header
    [title]="roommate.surname + ' ' + roommate.name"
    [showBackButton]="true"
  ></app-header>
</ion-header>

<ion-content>
  <div class="ad-detail">
    <div class="ad-detail-img-container">
      <img class="ad-detail-img" [src]="roommate?.img ? roommate.img : 'assets/images/no-image.jpg'" alt="guide-img">
    </div>

    <div class="ad-detail-content">
      <div class="flex-space-between">
        <div class="content-title">Ищу сожителя</div>
        <div class="price-container">
          <div class="price">{{roommate.price | priceCurrency}}</div>
          <div class="content-info">Ком. услуги {{10000 | priceCurrency}}</div>
          <div class="content-info">Залог 20%</div>
        </div>
      </div>

      <div>
        <div class="content-title">Расположение</div>
        <div class="content-info">Алматы, Байтурсынова, № 142</div> <!-- todo -->
      </div>

      <div>
        <div class="content-title">Параметры жилья </div>
        <div class="content-info">Этаж 2</div> <!-- todo -->
        <div class="content-info">Площадь, 20 м2</div> <!-- todo -->
        <div class="content-info">Высота потолков, 2.2 м</div> <!-- todo -->

        <hr class="horizontal-divider v-margin-12"/>

        <div class="flex-direction-row-10">
          <div *ngFor="let chip of utilChips" class="custom-chip">
            {{chip}}
          </div>
        </div>
      </div>

      <div>
        <div class="content-title">Условия проживания</div>
        <div class="flex-direction-row-10">
          <div *ngFor="let chip of chips2" class="custom-chip">
            {{chip}}
          </div>
        </div>
      </div>

      <div>
        <div class="content-title">Дополнительное информация</div>
        <div class="content-info">Пол, женский</div>
        <div class="content-info">Заселение возможно, 24.02.2023</div>
      </div>

      <ng-container *ngTemplateOutlet="authorTemplate"></ng-container>

      <div>
        <div class="content-title">Описание</div>
        <div class="content-info">Летняя кухня, сад, хозпостройки, огород.
          Земля ровная, плодовые деревья, огород.
          На участке 2 дома площадью 60 и 110кв. м.
          Вода, свет, газ, отопление подведены, все счетчики в наличии.
          Торг при просмотре. Люди живут на постоянной основе.</div>
      </div>
    </div>

    <div class="ad-others">
      <div class="others-title h-margin-12">Другие объявление</div>

      <app-roommate-grid
        [roommates]="roommates"
      ></app-roommate-grid>
    </div>
  </div>

</ion-content>

<ng-template #authorTemplate>
  <div class="author">
    <div class="flex-space-between">
      <div>
        <div class="author-title">Автор объявление</div>
        <div class="author-name">Пример Примеров</div>
      </div>

      <img class="author-profile-ic" src="assets/icon/profile.svg" alt="profile-white">
    </div>

    <div>
      <div class="title">{{77477777777 | mask : '+0 (000) 000 00 00'}}</div>
      <div class="content-info">primerPrimerov@gmail.com</div>
    </div>
  </div>
</ng-template>
