<div class="ads">

  <ng-container *ngFor="let roommate of roommates">

    <div class="ad" (click)="onClickAd(roommate)">
      <div class="ad-head">
        <div class="ad-price">{{roommate.price | priceCurrency}}</div>
        <img [src]="roommate.user_liked ? 'assets/icon/heart-filled.svg' : 'assets/icon/heart.svg'"
             [alt]="roommate.user_liked ? 'heart-filled' : 'heart'"
             (click)="$event.stopPropagation(); onClickLike(roommate)"
        >
      </div>

      <div class="ad-bottom">
        <img [src]="roommate?.user?.profile_photo_url ?? 'assets/images/no-image.jpg'" alt="ad-holder">

        <div class="ad-content">
          <div class="ad-info">
            <div class="title">{{roommate.contact_name}}</div>
            <div class="ad-description custom-ellipses-2">{{roommate.description}}</div>
          </div>

          <div class="ad-additional-info">
            <div>{{roommate.created_at | date : 'd MMMM'}}</div>
            <div class="icon-20">
              <img src="assets/icon/eye.svg">
              {{roommate.views}}
            </div>
          </div>
        </div>
      </div>
    </div>

  </ng-container>

</div>
