<ion-header>
  <app-header
    [title]="'Roommate'"
  ></app-header>
</ion-header>

<ion-content>
  <div class="guide">
    <div class="categories h-margin-12">
      <ng-container *ngFor="let category of categories">
        <button
          [ngClass]="{'custom-button-white': true, 'custom-button-white-selected': selectedCategory === category?.id}"
          (click)="onClickCategory(category)"
        >
          {{category.title}}
        </button>
      </ng-container>
    </div>

    <app-guide-grid
      [guides]="guides"
    ></app-guide-grid>
  </div>

</ion-content>
