<ion-content>
  <app-header-back
    [title]="'Roommate'"
  ></app-header-back>

  <div class="guide">
    <div class="categories">
      <ng-container *ngFor="let category of categories">
        <button
          [ngClass]="{'custom-button-white': true, 'custom-button-white-selected': category.selected}"
          (click)="onClickCategory(category)"
        >
          {{category.title}}
        </button>
      </ng-container>
    </div>

    <app-guide-grid
      [guides]="guides"
    ></app-guide-grid>
  </div>

</ion-content>
