<ion-content scrollY="false">
  <app-header-back [title]="'Вход в профиль'"></app-header-back>
  <div class="login page-padding-24px">
    <div class="body">
      <div>
        <app-custom-input
          [type]="'tel'"
          [label]="'Введите номер телефона'"
          [error]="phoneNumberError && 'Неправильный номер телефона'"
          [(value)]="phoneNumber"
        ></app-custom-input>
      </div>
    </div>
    <div class="footer">
      <button appThrottleClick (throttleClick)="goToSms()"
              [disabled]="!phoneNumber || phoneNumber.length !== 10"
              class="custom-button-primary">
        Продолжить
      </button>
    </div>
  </div>
</ion-content>
