<ion-header>
  <app-header
    [showBackButtonDefault]="true"
    [title]="'Введите код из SMS'"
  ></app-header>
</ion-header>

<ion-content scrollY="false">
  <div class="sms page-padding-24px">
    <div class="body">
      <div class="align-items-center">
        Код подтверждения отправлен на номер
        <div>{{phoneNumber | mask : '+0 (000) 000-00-00'}}</div>
      </div>

      <div class="sms-code-inputs">
        <input class="sms-input" [class.sms-input-filled]="one" #input [(ngModel)]="one"
               (keyup)="moveFocus($event, 0)" autocomplete="one-time-code"
               type="tel" maxlength="1"/>
        <input class="sms-input" [class.sms-input-filled]="two" #input [(ngModel)]="two"
               (keyup)="moveFocus($event, 1)"
               type="tel" maxlength="1">
        <input class="sms-input" [class.sms-input-filled]="three" #input [(ngModel)]="three"
               (keyup)="moveFocus($event, 2)"
               type="tel" maxlength="1">
        <input class="sms-input" [class.sms-input-filled]="four" #input [(ngModel)]="four"
               (keyup)="moveFocus($event, 3)"
               type="tel" maxlength="1">
      </div>

      <div *ngIf="remainingTime$ | async as remainingTime; else sendCodeAgainTemplate" class="align-items-center">
        <span>Отправить код повторно через</span>
        <span>{{remainingTime | formatTime}}</span>
      </div>
      <ng-template #sendCodeAgainTemplate>
        <div class="send-again" (click)="sendSmsCodeAgain()">
          Отправить код повторно
        </div>
      </ng-template>
    </div>
  </div>
</ion-content>
