<ion-content scrollY="false">
  <div class="sms page-padding-24px">
    <div class="body">
      <div class="title">
        <div>Введите код из SMS</div>
      </div>

      <div class="align-items-center">
        Код подтверждения отправлен на номер
        <div>{{phoneNumber | phoneNumber}}</div>
      </div>

      <div class="sms-code-inputs">
        <input class="sms-input" [class.sms-input-filled]="one" #input [(ngModel)]="one"
               (keyup)="moveFocus($event, 0)" autocomplete="one-time-code"
               type="tel" maxlength="1"/>
        <input class="sms-input" [class.sms-input-filled]="two" #input [(ngModel)]="two"
               (keyup)="moveFocus($event, 1)"
               type="tel" maxlength="1">
        <input class="sms-input" [class.sms-input-filled]="three" #input [(ngModel)]="three"
               (keyup)="moveFocus($event, 2)"
               type="tel" maxlength="1">
        <input class="sms-input" [class.sms-input-filled]="four" #input [(ngModel)]="four"
               (keyup)="moveFocus($event, 3)"
               type="tel" maxlength="1">
      </div>

      <div *ngIf="remainingTime$ | async as remainingTime; else sendCodeAgainTemplate" class="align-items-center">
        <span>Отправить код повторно через</span>
        <span>{{remainingTime | formatTime}}</span>
      </div>
      <ng-template #sendCodeAgainTemplate>
        <div class="send-again" (click)="sendSmsCodeAgain()">
          Отправить код повторно
        </div>
      </ng-template>
    </div>
    <div class="footer">
      <button appThrottleClick (throttleClick)="changeNumber()"
              class="custom-button-primary">
        Изменить номер
      </button>
    </div>
  </div>
</ion-content>
