<ion-header>
  <app-header
    [title]="'Фильтры'"
    [showCloseButton]="true"
    [showResetButton]="true"
    (onCloseClicked)="close()"
    (onResetClicked)="reset()"
  ></app-header>
</ion-header>

<ion-content>
  <div class="content">
    <div class="filter-modal">
      <div class="search-filter">

        <app-custom-input
          [type]="'text'"
          [label]="'Поиск'"
        ></app-custom-input>

        <hr class="horizontal-divider v-margin-12">
      </div>

      <div class="price-filter">
        <div class="flex-row-16">
          <app-custom-input
            [type]="'number'"
            [label]="'Цена от'"
            [(value)]="searchAdStore.price_from"
            [icon]="'currency'"
            [asterisks]="true"
          ></app-custom-input>

          <app-custom-input
            [type]="'number'"
            [label]="'Цена до'"
            [(value)]="searchAdStore.price"
            [icon]="'currency'"
            [asterisks]="true"
          ></app-custom-input>
        </div>

        <hr class="horizontal-divider v-margin-12">
      </div>

      <div>
        <app-filter-item
          [title]="'Город'"
          [selectedItems]="selectedCity"
          (click)="onClick('Город', type.CITY)"
          [asterisks]="true"
        ></app-filter-item>
        <hr class="horizontal-divider v-margin-12">
      </div>

      <div>
        <app-custom-input
          [type]="'number'"
          [label]="'Количество комнат'"
          [(value)]="searchAdStore.rooms_count"
          [asterisks]="true"
          [minValue]="0"
          [maxValue]="100"
        ></app-custom-input>
        <hr class="horizontal-divider v-margin-12">
      </div>

      <div class="floor-filter">
        <div class="title margin-12">Количество этажей</div>

        <div class="flex-row-16">
          <app-custom-input
            [type]="'number'"
            [label]="'Этаж'"
            [(value)]="searchAdStore.floor"
          ></app-custom-input>

          <app-custom-input
            [type]="'number'"
            [label]="'Мах количество'"
            [(value)]="searchAdStore.floor_from"
          ></app-custom-input>
        </div>

        <hr class="horizontal-divider v-margin-12">
      </div>

      <div>
        <app-custom-input
          [type]="'number'"
          [label]="'Количесвто сожителей в квартире'"
          [(value)]="searchAdStore.roommate_count"
          [asterisks]="true"
          [minValue]="0"
          [maxValue]="100"
        ></app-custom-input>
        <hr class="horizontal-divider v-margin-12">
      </div>

      <div>
        <app-custom-input
          [type]="'number'"
          [label]="'Количество санузлов'"
          [(value)]="searchAdStore.bathroom_count"
        ></app-custom-input>
        <hr class="horizontal-divider v-margin-12">
      </div>

      <div>
        <app-custom-input
          [type]="'number'"
          [label]="'Балкон'"
          [(value)]="searchAdStore.balconies_count"
        ></app-custom-input>
        <hr class="horizontal-divider v-margin-12">
      </div>

      <div>
        <app-custom-input
          [type]="'number'"
          [label]="'Лоджия'"
          [(value)]="searchAdStore.loggias_count"
        ></app-custom-input>
        <hr class="horizontal-divider v-margin-12">
      </div>

      <div class="square-filter">
        <div class="title margin-12">Площадь, м²</div>

        <div class="flex-row-16">
          <app-custom-input
            [type]="'number'"
            [label]="'Общая'"
            [(value)]="searchAdStore.square_general"
            [error]="saveButtonClicked && !searchAdStore.square_general && 'Надо заполнить'"
            [asterisks]="true"
          ></app-custom-input>

          <app-custom-input
            [type]="'number'"
            [label]="'Жилая'"
            [(value)]="searchAdStore.square_living"
          ></app-custom-input>

          <app-custom-input
            [type]="'number'"
            [label]="'Кухня'"
            [(value)]="searchAdStore.square_kitchen"
          ></app-custom-input>
        </div>

        <hr class="horizontal-divider v-margin-12">
      </div>

      <div>
        <app-filter-item
          [title]="'В квартире'"
          [selectedItems]="selectedGenderType"
          (click)="onClick('В квартире', type.GENDER_TYPE)"
        ></app-filter-item>
        <hr class="horizontal-divider v-margin-12">
      </div>

    </div>

    <div class="modal-button">
      <hr class="horizontal-divider">

      <button
        class="custom-button-primary"
        (click)="onClickSearch()"
      >Поиск
      </button>
    </div>
  </div>
</ion-content>
