.filter-modal {
  background: var(--custom-background-color-white);
  padding: 12px;
  height: 100%;
}

.title {
  font-size: var(--custom-font-size-4);
  font-weight: var(--custom-font-weight-semibold);
  line-height: var(--custom-line-height);
  color: var(--custom-text-color-black);
}
