.bottom-modal-component {
  align-items: flex-end;
  --max-height: 50%;
  --backdrop-opacity: 0;
  --border-radius: 15px;

  :first-of-type {
    --backdrop-opacity: 50%;
  }
}

ion-modal.bottom-modal-component.auto-height {
  --height: auto;

  .modal-wrapper {
    .ion-page {
      position: relative;
      contain: content;
      max-height: 50%;

      .modal-content {
        overflow-y: scroll;
      }
    }
  }
}

.city-modal-component .modal-wrapper {
  align-items: flex-end;
  position: absolute;
  --max-height: 90%;
  --backdrop-opacity: 0;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  bottom: 0;
  :first-of-type {
    --backdrop-opacity: 30%;
  }
}

.modal-title {
  font-weight: var(--custom-font-weight-medium);
  font-size: var(--custom-font-size-3);
  line-height: var(--custom-line-height);
  color: var(--custom-text-color-black);
}

