.bottom-modal-component {
  align-items: flex-end;
  --max-height: 50%;
  --border-radius: 15px;

  :first-of-type {
    --backdrop-opacity: 50%;
  }
}

ion-modal.bottom-modal-component.auto-height {
  --height: auto;

  .modal-wrapper {
    .ion-page {
      position: relative;
      contain: content;
      max-height: 50%;

      .modal-content {
        overflow-y: scroll;
      }
    }
  }
}

.full-modal-component .modal-wrapper {
  align-items: flex-end;
  position: absolute;
  --min-height: 100%;
  --backdrop-opacity: 0;
  bottom: 0;
  :first-of-type {
    --backdrop-opacity: 30%;
  }
}

.modal-title {
  font-weight: var(--custom-font-weight-medium);
  font-size: var(--custom-font-size-3);
  line-height: var(--custom-line-height);
  color: var(--custom-text-color-black);
}

.bottom-modal-padding {
  padding: 16px 24px 40px 24px;
}

.bottom-modal-buttons {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 32px;
}

.modal-button {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px 40px 16px;
  background: var(--custom-background-color-white);
}
