@mixin custom-button-font {
  font-style: var(--custom-font-style-normal);
  font-weight: var(--custom-font-weight-regular);
  font-size: var(--custom-font-size-4);
  line-height: var(--custom-line-height);
}

@mixin custom-button {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  contain: layout style;
  outline: none;
  -webkit-font-smoothing: antialiased;
  z-index: 0;
  transition: var(--custom-transition);
  border-radius: var(--custom-border-radius);
  outline-color: transparent;
  letter-spacing: 0.05em;
  transform: scale(1);

  @include custom-button-font;
}

@mixin custom-button-disable {
  &:disabled {
    border: 1px solid transparent;
    opacity: .5;
    box-shadow: none;
  }
}

@mixin custom-button-active() {
  &:active {
    transform: scale(0.95);
  }
}

@mixin custom-button-outline($color,$borderColor, $backgroundColor) {
  &[outline] {
    color: $color;
    border: 1px solid $borderColor;
    background: $backgroundColor;
  }
}

@mixin custom-input-font {
  font-style: var(--custom-font-style-normal);
  font-weight: var(--custom-font-weight-medium);
  font-size: var(--custom-font-size-5);
  line-height: var(--custom-line-height);
}

@mixin custom-input {
  @include custom-input-font;
  position: relative;
  background: var(--custom-background-color-white);
  box-sizing: border-box;
  border-radius: var(--custom-border-radius);
  color: var(--custom-text-color-black);
  border: 1px solid var(--custom-background-color-gray);
  font-size: var(--custom-font-size-5);
  font-weight: var(--custom-font-weight-medium);
  padding: 16px 20px;

  &::placeholder {
    color: var(--custom-text-color-tertiary);
  }

  &:after {
    border: 1px solid var(--custom-text-color-danger);
  }

  &:disabled {
    background: var(--custom-background-color-disable);
    border: 1px solid var(--custom-background-color-tertiary);
  }

  &[type=password] {
    color: var(--custom-text-color-black);
  }
}

@mixin custom-textarea {
  @include custom-input-font;
  position: relative;
  box-sizing: border-box;
  border: 0;
  border-radius: var(--custom-border-radius);
  background: var(--custom-background-color-input);
  outline: none;
  resize: none;
  width: 100%;
  height: 30vw;
  padding: 10px;
  &::placeholder {
    color: var(--custom-text-color-tertiary);
  }
}

@mixin custom-ellipses {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.custom-button-primary {
  width: 100%;
  height: 13vw;
  background: var(--custom-background-color-primary);
  color: var(--custom-text-color-white);
  font-weight: var(--custom-font-weight-medium) !important;
  @include custom-button-outline(var(--custom-background-color-primary), var(--custom-b-text-color-primary), transparent);
  @include custom-button-active();
  @include custom-button;
  @include custom-button-disable;
}

.custom-input {
  width: 100%;
  height: 48px;
  padding-right: 20px;
  padding-left: 20px;

  &:focus {
    border-color: var(--custom-b-text-color-primary);
  }

  &:focus + label {
    color: var(--custom-b-text-color-primary) !important;
  }

  &-filled,
  &:focus {
    padding-top: 24px;
    padding-bottom: 8px;
    outline: none;
  }

  &-filled + label,
  &:focus + label {
    top: 6px !important;
    font-size: var(--custom-font-size-6) !important;
  }

  & + label {
    z-index: 1;
    position: absolute;
    left: 20px;
    top: 16px;
    font-style: var(--custom-font-style-normal);
    font-size: var(--custom-font-size-5);
    font-weight: var(--custom-font-weight-regular);
    color: var(--custom-text-color-gray);
    line-height: 16px;
    transition: background 0.2s,
    color 0.2s,
    top 0.2s,
    bottom 0.2s,
    right 0.2s,
    left 0.2s;
  }

  @include custom-input;
}

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}

.custom-button-white {
  padding: 12px;
  background: var(--custom-text-color-white);
  border-radius: 12px;
  font-size: var(--custom-font-size-6);
  color: var(--custom-text-color-black);
  transition: none !important;
  @include custom-button;
}

.custom-button-gray {
  padding: 12px;
  background: var(--custom-background-color-input);
  border-radius: 12px;
  font-size: var(--custom-font-size-6);
  color: var(--custom-text-color-black);
  transition: none !important;
  @include custom-button;
}

.custom-button-white-border {
  width: 100%;
  height: 13vw;
  background: var(--custom-text-color-white);
  color: var(--custom-text-color-black);
  border: 1px solid var(--custom-text-color-black);
  font-weight: var(--custom-font-weight-medium) !important;
  @include custom-button-active();
  @include custom-button;
  @include custom-button-disable;
}

.custom-button-white-selected {
  color: var(--custom-text-color-white) !important;
  background: var(--custom-b-text-color-primary) !important;
}

.custom-ellipses-1 {
  -webkit-line-clamp: 1;
  @include custom-ellipses;
}

.custom-ellipses-2 {
  -webkit-line-clamp: 2;
  @include custom-ellipses;
}

.custom-chip {
  background: var(--custom-background-color-input);
  border-radius: 8px;
  padding: 10px 8px;
  font-size: var(--custom-font-size-5);
  line-height: var(--custom-font-size-5);
  font-weight: var(--custom-font-weight-medium);
}
