html * {
  font-family: var(--ion-font-family, ('SF-Pro-Display', Sans-Serif));
  -webkit-touch-callout: none !important;
  -khtml-user-select: none !important;;
  -moz-user-select: none !important;; /* Firefox all */
  -ms-user-select: none !important;; /* IE 10+ */
  user-select: none !important; /* Likely future */
  -webkit-user-select: none; /* Chrome all / Safari all */
}

body * {
  font-family: var(--ion-font-family, ('SF-Pro-Display', Sans-Serif)) !important;
}

html, body {
  color: var(--custom-text-color-primary, #3880ff);
  line-height: var(--custom-line-height, 140%);
  font-size: var(--custom-font-size-4, 16px);
  font-weight: var(--custom-font-weight-regular, 400);
  background: var(--custom-background-color-white, #FFFFFF);
}

.select-disable, * {
  -webkit-touch-callout: none !important;
  -khtml-user-select: none !important;;
  -moz-user-select: none !important;; /* Firefox all */
  -ms-user-select: none !important;; /* IE 10+ */
  user-select: none !important; /* Likely future */
  -webkit-user-select: none; /* Chrome all / Safari all */
}

input, textarea {
  -webkit-user-select: text !important;
}

input::selection, textarea::selection {
  -webkit-user-select: none !important;
}

input {
  outline-color: transparent !important;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}


