.background-white {
  background: var(--custom-background-color-white) !important;
  --background: var(--custom-background-color-white) !important;
}

.background-light-gray {
  background: var(--custom-background-color-light-gray) !important;
}

.background-primary {
  background: var(--custom-background-color-primary) !important;
}

.page-padding {
  padding: var(--custom-padding);
}

.page-padding-16px {
  padding: 16px;
}

.page-padding-24px {
  padding: 24px !important;
}

.page-padding-bottom-0 {
  padding: 10px 10px 0;
}

.page-padding-bottom-20px {
  padding-bottom: 20px;
}

.page-padding-top-20px {
  padding-top: 20px;
}

.margin-12 {
  margin: 12px !important;
}

.v-margin-12 {
  margin: 12px 0 !important;
}

.h-margin-12 {
  margin: 0 12px !important;
}

.margin-top-12px {
  margin-top: 12px;
}

.header-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.custom-padding {
  padding: 10px;
}

.custom-padding-top {
  padding-top: 10px;
}

.custom-padding-bottom {
  padding-bottom: 10px;
}

.custom-padding-bottom-20px {
  padding-bottom: 20px;
}

.custom-padding-bottom-30px {
  padding-bottom: 30px;
}

.custom-margin-top {
  margin-top: 3.2vw;
}

.custom-margin-bottom {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-12 {
  margin-bottom: 12px;
}

.hide-footer {
  position: absolute;
  bottom: -100px;
}

.custom-display-flex {
  display: flex;
}

.horizon-line {
  border-top: 1px solid var(--custom-background-color-gray);
}

.flex-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-align-center {
  align-items: center;
}

.flex-direction-row {
  display: flex;
  flex-direction: row;
}

.flex-direction-row-10 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.border-danger {
  border: 1px solid var(--custom-text-color-danger);
}

.color-danger {
  color: var(--custom-text-color-danger);
}

.danger-background {
  background: var(--custom-background-color-danger);
}

.status {
  width: fit-content;
  padding: 2px 8px;
  border-radius: 4px;
  font-style: var(--custom-font-style-normal);
  font-weight: var(--custom-font-weight-medium);
  font-size: var(--custom-font-size-8);
  line-height: 15px;
  color: var(--custom-text-color-white);
}

.not-active-background {
  background: #F1F1F5;
  color: var(--custom-placeholder-color);
}

.placeholder {
  color: var(--custom-text-color-tertiary);
}

.value {
  color: var(--custom-text-color-primary);
}

.horizontal-divider {
  width: 100%;
  height: 1px;
  background: #F1F3F6;
  margin: 0;
}

.align-items-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-title {
  color: var(--custom-text-color-black);
  font-size: var(--custom-font-size-4);
  font-weight: var(--custom-font-weight-regular);
  line-height: 24px;
  min-width: 40%;
}

.flex-row-16 {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.icon-24 {

  img {
    width: 24px !important;
    height: 24px !important;
  }

}

.icon-20 {

  img {
    width: 20px !important;
    height: 20px !important;
  }

}
