ion-content {
  --background: var(--custom-background-color-white);
}

:host {
  .register {
    height: calc(100% - 56px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

}

.body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.register-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--custom-font-size-5);
  font-weight: var(--custom-font-weight-regular);
  color: blue;
}
