.tab-text {
  font-style: var(--custom-font-style-normal);
  font-weight: var(--custom-font-weight-medium);
  font-size: var(--custom-font-size-7);
  line-height: var(--custom-line-height);
  color: var(--custom-text-color-tertiary);
}

.tab-text-selected {
  font-style: var(--custom-font-style-normal);
  font-weight: var(--custom-font-weight-medium);
  font-size: var(--custom-font-size-7);
  line-height: var(--custom-line-height);
  color: var(--custom-text-color-black);
}
