.setting {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--custom-background-color-white);
}

.setting-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 24px;
}

.setting-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: fit-content;
  gap: 12px;
  overflow: hidden;

  &-title {
    color: var(--custom-text-color-black);
    font-size: var(--custom-font-size-5);
    font-weight: var(--custom-font-weight-regular);
    line-height: var(--custom-line-height);
  }

  .image-wrapper {
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 12px;
  }

  img {
    object-fit: contain;
    width: 64px;
    height: 64px;
  }
}

.gender {
  background: #F8F8F8;
  padding: 12px;
  border-radius: 8px;
  font-size: var(--custom-font-size-5);
  font-weight: var(--custom-font-weight-medium);
  color: var(--custom-text-color-black);
}
