<ion-header>
  <app-header
    [title]="'Настройки'"
    [showCloseButton]="true"
    (click)="close()"
  ></app-header>
</ion-header>

<ion-content>
  <div class="setting">

    <div class="setting-content">
      <div class="setting-photo" (click)="onClickProfile()">
        <div class="setting-photo-title">Фото профиля</div>

        <div class="image-wrapper">
          <img
            [src]="profileImage?.data ? profileImage.data :
            profile?.profile_photo_url ? profile?.profile_photo_url : 'assets/icon/setting-photo-holder.svg'"
            alt="setting-photo-holder">
        </div>
      </div>

      <app-custom-input
        [type]="'text'"
        [label]="'Имя'"
        [error]="!name?.length && 'Поле не должен быть пустым'"
        [(value)]="name"
      ></app-custom-input>

      <app-custom-input
        [label]="'Введите почту'"
        [error]="!isEmailValid && 'Неправильно заполнен email'"
        (valueChange)="onChangeEmail($event)"
        [value]="email"
      ></app-custom-input>

      <div>
        <div class="margin-12">Пол</div>
        <div class="categories">
          <ng-container *ngFor="let gender of genders">
            <button
              [ngClass]="{'custom-button-gray': true, 'custom-button-white-selected': selectedGender?.id === gender?.id}"
              (click)="onClickGender(gender)"
            >
              {{gender.title}}
            </button>
          </ng-container>
        </div>
      </div>

    </div>

    <div class="modal-button">
      <hr class="horizontal-divider">

      <div
        (click)="onClickSave()"
        class="custom-button-primary"
      >Сохранить
      </div>
    </div>
  </div>
</ion-content>
