.filter-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filter-item-title {
  color: var(--custom-text-color-black);
  font-size: var(--custom-font-size-4);
  font-weight: var(--custom-font-weight-regular);
  line-height: 24px;
  min-width: 40%;
}

.filter-item-left {
  display: flex;
  flex-direction: row;
  gap: 8px;
  height: 24px;
  color: var(--custom-b-text-color-primary);
  font-size: var(--custom-font-size-5);
  font-weight: var(--custom-font-weight-regular);
}

.asterisks {
  color: red;
}
