<div *ngIf="type === 'tel'" class="input-form">
  <app-error-message-form [setErrorMessage]="innerError ?? error">
    <input (focusin)="focus = true"
           (focusout)="checkFocus()"
           (keyup.enter)="enterPressed.emit()"
           [ngModel]="value"
           [class.custom-input-filled]="value"
           class="custom-input tel-input"
           id="input{{id}}"
           [mask]="'(000) 000 00 00'"
           [readonly]="readonly"
           (ngModelChange)="valueChanged($event)"
           [type]="type"
           #input>
    <label for="input{{id}}">
      <span>{{label}}</span>
      <span *ngIf="asterisks"
            class="asterisks"
      >*</span>
    </label>
  </app-error-message-form>
  <div *ngIf="focus || value" class="tel-prefix">+7</div>
</div>

<div *ngIf="type === 'number'" class="input-form">
  <app-error-message-form [setErrorMessage]="innerError ?? error">
    <input (focusin)="focus = true"
           (focusout)="checkFocus()"
           (keyup.enter)="enterPressed.emit()"
           [ngModel]="value"
           [class.custom-input-filled]="value"
           class="custom-input"
           id="input{{id}}"
           [readonly]="readonly"
           (ngModelChange)="valueChanged($event)"
           [type]="type"
           [max]="maxValue"
           [min]="minValue"
           #input>
    <label for="input{{id}}">
      {{label}}
      <div *ngIf="asterisks"
           class="asterisks"
      >
        *
      </div>
    </label>
  </app-error-message-form>

  <img *ngIf="icon === 'currency'" class="suffix" src="assets/icon/currency.svg" alt="currency-icon">
  <img *ngIf="icon === 'percent'" class="suffix" src="assets/icon/percent.svg" alt="percent-icon">
</div>

<div *ngIf="type === 'textarea'" class="input-form text-area">
  <app-error-message-form [setErrorMessage]="innerError ?? error">
    <textarea
      (focusin)="focus = true"
      (focusout)="checkFocus()"
      (keyup.enter)="enterPressed.emit()"
      [ngModel]="value"
      [class.custom-input-filled]="value"
      class="custom-input"
      id="input{{id}}"
      [readonly]="readonly"
      (ngModelChange)="valueChanged($event)"
      #input></textarea>

    <label for="input{{id}}">
      {{label}}
      <div *ngIf="asterisks"
           class="asterisks"
      >
        *
      </div>
    </label>
  </app-error-message-form>
</div>

<div *ngIf="type !== 'tel' && type !== 'number' && type !== 'textarea'" class="input-form">
  <app-error-message-form [setErrorMessage]="innerError ?? error">
    <input (focusin)="focus = true"
           (focusout)="checkFocus()"
           [type]="type"
           (keyup.enter)="enterPressed.emit()"
           (ngModelChange)="valueChanged($event)"
           [ngModel]="value"
           [class.custom-input-filled]="value"
           class="custom-input"
           id="input{{id}}"
           [readonly]="readonly"
           #input>
    <label for="input{{id}}">
      {{label}}
      <div *ngIf="asterisks"
           class="asterisks"
      >
        *
      </div>
    </label>
  </app-error-message-form>

  <div class="password-eye" *ngIf="isPassword">
    <img src="{{hidePassword | passwordEye}}" (click)="changePasswordType()" alt="eye">
  </div>
</div>
