<div *ngIf="type === 'tel'" class="input-form">
  <app-error-message-form [setErrorMessage]="error">
    <input (focusin)="focus = true"
           (focusout)="checkFocus()"
           (keyup.enter)="enterPressed.emit()"
           [(ngModel)]="value"
           [class.custom-input-filled]="value"
           class="custom-input tel-input"
           id="input{{id}}"
           [mask]="'(000) 000 00 00'"
           (maskFilled)="maskFilled()"
           #input>
    <label for="input{{id}}">{{label}}</label>
  </app-error-message-form>
  <div *ngIf="focus || value" class="tel-prefix">+7</div>
</div>

<div *ngIf="type !== 'tel' && type !== 'sms-code'" class="input-form">
  <app-error-message-form [setErrorMessage]="error">
    <input (focusin)="focus = true"
           (focusout)="checkFocus()"
           (keyup.enter)="enterPressed.emit()"
           (ngModelChange)="valueChanged()"
           [(ngModel)]="value"
           [class.custom-input-filled]="value"
           class="custom-input"
           id="input{{id}}"
           #input>
    <label for="input{{id}}">{{label}}</label>
  </app-error-message-form>
</div>
