.input-form {
  position: relative;

  .tel-input {
    padding-left: 45px;
  }

  .tel-prefix {
    z-index: 1;
    position: absolute;
    left: 20px;
    top: 24.5px;
    color: var(--custom-text-color-black);
    font-size: var(--custom-font-size-5);
    font-weight: var(--custom-font-weight-medium);
    line-height: 16px;
  }

  .password-eye {
    position: absolute;
    right: 13px;
    top: 44px;

    img {
      width: 23px;
      height: 23px;
    }

  }
}
