::ng-deep.ion-page {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.fill-profile-modal {
  padding: 16px 24px 40px 24px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 32px;
}

