<ion-header>
  <app-header
    [title]="'eOQvFu9d'"
    [showSettingButton]="true"
  ></app-header>
</ion-header>

<ion-content>
  <div class="profile">
    <div class="h-margin-12">
      <div class="profile-title">Мои объявления</div>

      <div class="categories v-margin-12">
        <button
          *ngFor="let category of categories"
          [ngClass]="{'custom-button-white': true, 'custom-button-white-selected': category.selected}"
          (click)="onClickCategory(category)"
        >
          {{category.title}}
        </button>
      </div>
    </div>

    <app-room-grid
      *ngIf="selectedCategory === adType.ROOM"
      [rooms]="rooms"
    ></app-room-grid>

    <app-roommate-grid
      *ngIf="selectedCategory === adType.ROOMMATE"
      [roommates]="roommates"
    ></app-roommate-grid>
  </div>
</ion-content>
