<ion-header>
  <app-header
    [title]="user?.name"
    [showSettingButton]="true"
    [showExitButton]="true"
  ></app-header>
</ion-header>

<ion-content>
  <ion-refresher #ionRefresher slot="fixed" (ionRefresh)="initAds()">
    <ion-refresher-content [pullingIcon]="null" [refreshingSpinner]="'crescent'"></ion-refresher-content>
  </ion-refresher>

  <div class="profile">
    <div class="h-margin-12">
      <div class="profile-title">Мои объявления</div>

      <div class="categories v-margin-12">
        <button
          *ngFor="let category of categories"
          [ngClass]="{'custom-button-white': true, 'custom-button-white-selected': category.selected}"
          (click)="onClickCategory(category)"
        >
          {{category.title}}
        </button>
      </div>
    </div>

    <app-room-grid
      *ngIf="selectedCategory === adType.ROOM"
      [rooms]="rooms"
      [showEditIcon]="true"
      [showStatusModeration]="true"
      (categoryClicked)="onEditClicked($event, adType.ROOM)"
    ></app-room-grid>

    <app-roommate-grid
      *ngIf="selectedCategory === adType.ROOMMATE"
      [roommates]="roommates"
      [showEditIcon]="true"
      [showStatusModeration]="true"
      (categoryClicked)="onEditClicked($event, adType.ROOMMATE)"
    ></app-roommate-grid>
  </div>
</ion-content>
