<ion-header>
  <app-header
    [title]="'Сниму комнату'"
    [showBackButtonDefault]="true"
    [showFiltersButton]="true"
    (onFilterClicked)="onFilterClicked()"
  ></app-header>
</ion-header>

<ion-content>
  <ion-refresher #ionRefresher slot="fixed" (ionRefresh)="initAds()">
    <ion-refresher-content [pullingIcon]="null" [refreshingSpinner]="'crescent'"></ion-refresher-content>
  </ion-refresher>

  <div class="room">
    <app-room-grid
      [rooms]="ads"
    ></app-room-grid>

    <ion-infinite-scroll
      #adsInfiniteScroll
      threshold="50%" (ionInfinite)="loadMore()">
      <ion-infinite-scroll-content
        loadingSpinner="crescent">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
